<html lang="en" ng-app="MarsApp">

<head>
  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="angular-material/angular-material.css" />
  <link rel="stylesheet" href="c3/c3.css" />
  <link rel="stylesheet" href="angular-carousel/dist/angular-carousel.css" />
  <!-- endbower -->
  <!-- inject:font-awesome -->
  <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
  <!-- endinject -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <!-- inject:css -->
  <link rel="stylesheet" href="index.css">
  <!-- endinject -->
  <!-- endbuild -->
  <meta name="viewport" content="initial-scale=1" />
</head>

<body layout="column" ng-controller="MainController as vm">
  <md-toolbar layout="row">
    <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button menuBtn">
      <span class="fa fa-bars"></span>
    </md-button>
    <h1 layout-align-gt-sm="center" class="md-toolbar-tools">Mars Hub</h1>
  </md-toolbar>
  <div layout="row" flex class="content-wrapper">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-list class="nav">
        <md-item ng-repeat="it in vm.menuItems">
          <md-item-content>
            <md-button ng-click="vm.selectMenuItem(it)" ng-class="{'selected' : it === selected }">
              <div class="nav-icon">
                <i class="fa fa-{{it.iconClass}}"></i>
              </div>
              {{it.name}}
            </md-button>
          </md-item-content>
        </md-item>
      </md-list>
    </md-sidenav>
    <div layout="column" flex class="content-wrapper" id="primary-col">
      <md-content layout="column" flex class="md-padding view-animate-container">
        <div ng-view class="view-animate"></div>
      </md-content>
    </div>
  </div>
  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="jquery/dist/jquery.js"></script>
  <script src="angular/angular.js"></script>
  <script src="angular-animate/angular-animate.js"></script>
  <script src="angular-aria/angular-aria.js"></script>
  <script src="angular-messages/angular-messages.js"></script>
  <script src="angular-material/angular-material.js"></script>
  <script src="angular-route/angular-route.js"></script>
  <script src="d3/d3.js"></script>
  <script src="c3/c3.js"></script>
  <script src="angular-chart/angular-chart.js"></script>
  <script src="angular-touch/angular-touch.js"></script>
  <script src="angular-carousel/dist/angular-carousel.js"></script>
  <script src="angular-sanitize/angular-sanitize.js"></script>
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js scripts/scripts.js -->
  <!-- inject:js -->
  <script src="app.js"></script>
  <script src="app.templates.js"></script>
  <script src="index.js"></script>
  <script src="news/newsController.js"></script>
  <script src="news/newsService.js"></script>
  <script src="photos/photosController.js"></script>
  <script src="photos/photosService.js"></script>
  <script src="weather/weatherController.js"></script>
  <script src="weather/weatherService.js"></script>
  <!-- endinject -->
  <!-- endbuild -->

</body>

</html>